{% extends "layouts/base-site.html" %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load widget_tweaks %}

{% block title %} Map Data Detail {% endblock %} 
{% block breadcrumb %} 
<li class="breadcrumb-item"><a href={% url 'mapdata_list' %}>Map Data List</a></li>
<li class="breadcrumb-item">Map Data Detail</li>
{% endblock %} 

{% block content %}
  
<div class="container-fluid">
  <div class="fade-in">
    <div class="card">
      <div class="card-header"><strong>Detail</strong> <small>{{object.title}}</small></div>
      <div class="card-body">  
        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Category</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.category}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Title</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.title}}" readonly>
          </div>
          
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Publish Place</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.publish_place}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Publish Date</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.publish_date}}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Dimemtions</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.dimensions}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Color</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.color}}" readonly>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Condition </label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.condition}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Price ({{price_currency}})</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.price}}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Author </label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.author}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Author URL</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.author_url}}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Image URLs </label>
          <div class="col-md-8">
            <textarea class="form-control" rows="5" readonly> {{object.img_url}} </textarea>
          </div>

        </div>


      </div>
      <div class="card-footer" style="text-align: center;">
        
        <a href="#" onclick="history.back()" class="btn btn-sm btn-primary" role="button">Back</a>
      </div>
    </div>    
  </div>
</div>




{% endblock content %}
