{% extends "layouts/base-site.html" %}
{% load widget_tweaks %}

{% block title %} Shop Detail {% endblock %} 
{% block breadcrumb %} 
<li class="breadcrumb-item"><a href={% url 'shop_list' %}>Shop List</a></li>
<li class="breadcrumb-item">Shop Detail</li>
{% endblock %} 

{% block content %}
  
<div class="container-fluid">
  <div class="fade-in">
    <div class="card">
      <div class="card-header"><strong>Detail</strong> <small>{{object.name}}</small></div>
      <div class="card-body">  
        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Name</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.name}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Product No</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.product_no}}" readonly>
          </div>
          
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Sale No</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.sale_no}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Review No</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.review_no}}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">% Review</label>
          <div class="col-md-2">
            <input class="form-control" value="{{object.get_review_percent}}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Review Stars</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.stars}}" readonly>
          </div>

          <label class="col-md-2 col-form-label" style="text-align: right;">Author</label>
          <div class="col-md-4">
            <input class="form-control" value="{{object.author}}" readonly>
          </div>
        </div>
        
        


        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="text-align: right;">Url </label>
          <div class="col-md-10">
            <input class="form-control" value="{{object.url}}" readonly>
          </div>


      </div>
      <div class="card-footer" style="text-align: center;">
        
        <a href="#" onclick="history.back()" class="btn btn-sm btn-primary" role="button">Back</a>
      </div>
    </div>    
  </div>
</div>




{% endblock content %}
